In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\PC\AppData\Roaming\Python\Python37\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

**XỬ LÝ BẢNG APPLICATION-BANKING**

In [2]:
# đọc file Applications-Banking
df_application = pd.read_excel(r'D:\mindxdata\banking application\Applications-Banking.xlsx')
df_application

,Application ID,Application Type,Customer ID,Group Name ID,Action,RM ID,Entered Date,Closed Date,Next Review Date,Product ID,...,Collateral Start Date,Collateral Type,Face Value,Conversion Factor,Rating,Limits Rating,Expected Loss,Covenants,Covenant Type,Application Error
0,ID1148,Dealer,IFR153,GRP507,Existing,RM2034,2015-01-03,2015-04-26,2016-04-25,PRD019,...,2002-06-22,Fixed Company Charge,23000000,1.00,1,8,7.650000e+05,Conditions Subsequent,Extended,Error
1,ID1292,Dealer,IFR177,GRP516,Existing,RM2040,2015-01-06,2015-02-05,2016-02-05,PRD017,...,2010-09-18,Limited Cross Guarantee and Indemnity (supported),22400000,0.50,2,6,8.116667e+05,Reporting,Extended,No Error
2,ID1193,Dealer,IFR117,GRP501,New,RM2020,2015-01-10,2015-05-17,2016-05-16,PRD014,...,2015-11-17,Bank Guarantee by Australian Financial Institu...,21700000,0.40,2,7,9.342857e+05,Reporting,Complied,No Error
3,ID1197,Dealer,IFR193,GRP516,Straight,RM2012,2015-01-22,2015-04-08,2016-04-07,PRD009,...,2013-07-19,Bill of Sale over business assets,17100000,0.70,5,5,9.040000e+05,Reporting,Breached,Error
4,ID1054,Dealer,IFR157,GRP515,New,RM2008,2015-01-23,2015-02-27,2016-02-27,PRD003,...,2008-09-05,Transfer of Mortgage over a Lease,6500000,0.75,2,5,1.300000e+06,Reporting,Complied,No Error
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,ID1406,Dealer,IFR188,GRP515,New,RM2005,2016-12-30,2017-02-14,2018-02-14,PRD002,...,2002-07-19,Mortgage over a lease,23300000,0.75,4,9,1.455556e+05,Conditions Subsequent,Extended,No Error
496,ID1423,Property Development,IFR198,GRP511,Existing,RM2034,2017-01-02,2017-05-09,2018-05-09,PRD008,...,2007-09-16,Collateral Type Desc,18300000,0.75,2,7,9.357143e+05,Reporting,Breached,No Error
497,ID1211,Corporate,IFR137,GRP505,Existing,RM2026,2017-01-04,2017-02-15,2018-02-15,PRD005,...,2006-06-23,Limited Guarantee and Indemnity (unsupported),11600000,1.00,1,7,2.957143e+05,Reporting,Complied,No Error
498,ID1238,Corporate,IFR109,GRP505,New,RM2037,2017-01-04,2017-04-09,2018-04-09,PRD016,...,2008-06-08,Traded Equities,16800000,0.75,2,5,1.252000e+06,Reporting,Complied,No Error
499,ID1338,Dealer,IFR186,GRP502,New,RM2022,2017-01-08,2017-05-06,2018-05-06,PRD011,...,2002-04-13,Mortgage over Real Property (Industrial),6700000,0.50,3,6,7.866667e+05,Reporting,Breached,No Error

In [4]:
#tìm missing
df_application.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Application ID          500 non-null    object
 1   Application Type        500 non-null    object
 2   Customer ID             500 non-null    object
 3   Group Name ID           500 non-null    object
 4   Action                  500 non-null    object
 5   RM ID                   500 non-null    object
 6   Entered Date            500 non-null    datetime64[ns]
 7   Closed Date             500 non-null    datetime64[ns]
 8   Next Review Date        500 non-null    datetime64[ns]
 9   Product ID              500 non-null    object
 10  Start Date              500 non-null    datetime64[ns]
 11  Term (mths)             500 non-null    int64
 12  Expiry Date             500 non-null    datetime64[ns]
 13  Rate Applied            500 non-null    float64
 14  Margin Agreed           500 non-null    float64
 15  Capital                 500 non-null    int64
 16  Annual Interest Income  500 non-null    float64
 17  Collateral Start Date   500 non-null    datetime64[ns]
 18  Collateral Type         500 non-null    object
 19  Face Value              500 non-null    int64
 20  Conversion Factor       500 non-null    float64
 21  Rating                  500 non-null    int64
 22  Limits Rating           500 non-null    int64
 23  Expected Loss           500 non-null    float64
 24  Covenants               500 non-null    object
 25  Covenant Type           500 non-null    object
 26  Application Error       500 non-null    object
dtypes: datetime64[ns](6), float64(5), int64(5), object(11)
memory usage: 105.6+ KB

=> DataFrame không có missing

In [5]:
df_application.describe()

,Term (mths),Rate Applied,Margin Agreed,Capital,Annual Interest Income,Face Value,Conversion Factor,Rating,Limits Rating,Expected Loss
count,500.000000,500.000000,500.000000,5.000000e+02,500.000000,5.000000e+02,500.000000,500.000000,500.000000,5.000000e+02
mean,23.172000,2.644260,0.303620,3.632040e+06,106098.186000,1.323280e+07,0.761700,3.566000,6.376000,6.987050e+05
std,15.743256,0.631567,0.117538,1.993167e+06,62974.092354,6.265966e+06,0.172678,1.728473,2.476872,6.885841e+05
min,6.000000,1.500000,0.100000,1.700000e+05,4984.000000,2.100000e+06,0.400000,1.000000,1.000000,1.888889e+04
25%,12.000000,2.087500,0.207500,1.857500e+06,52227.000000,8.100000e+06,0.700000,2.000000,5.000000,3.047500e+05
50%,24.000000,2.645000,0.300000,3.765000e+06,104140.000000,1.305000e+07,0.750000,4.000000,6.000000,5.642222e+05
75%,36.000000,3.200000,0.410000,5.375000e+06,151149.500000,1.852500e+07,0.800000,5.000000,8.000000,9.040000e+05
max,60.000000,3.750000,0.500000,7.000000e+06,268134.000000,2.490000e+07,1.000000,6.000000,12.000000,6.410000e+06

In [6]:
#xóa cột không cần thiết trong bảng application (Action, Collateral Start Date, Conversion Factor,Covenant Type,Limits Rating, Rating,Expected Loss,Covenants,Application Error)
columns = ['Action', 'Collateral Start Date', 'Conversion Factor','Covenant Type','Limits Rating','Expected Loss','Covenants','Application Error']
df_application.drop(columns, inplace =True, axis=1)

In [7]:
#xuất ra file csv đặt tên thành application1
df_application.to_csv("D:\\mindxdata\\application_banking.csv")

**XỬ LÝ BẢNG CUSTOMERS-BANKING**

In [8]:
#đọc bảng customer-banking
df_customer = pd.read_excel('D:\\mindxdata\\banking application\customer-banking.xlsx')
df_customer

,Customer ID,Customer Name,Group ID,Group Name,Relationship Established,Customer Rating,Industry,Address
0,IFR100,Geiss Company,GRP500,Ventura Ltd,2016-07-31,3,Dairy,"Wagga Wagga, New South Wales, Australia"
1,IFR101,Jaxbean Group,GRP504,Kroger,2013-11-22,2,Auto Dealers,"Townsville, Queensland, Australia"
2,IFR102,Ascend Ltd,GRP512,Aurobindo Corp,2013-03-01,2,Gas & Oil,"Brisbane, Queensland, Australia"
3,IFR103,Eire Corp,GRP505,TYA Corp,2005-04-09,4,Defense,"Cairns, Queensland, Australia"
4,IFR104,Blogtags Ltd,GRP502,Rite Ltd,2010-11-15,3,Computer Software,"Perth, Western Australia, Australia"
...,...,...,...,...,...,...,...,...
95,IFR195,Dentsply Group,GRP517,Wal-Mart Corp,2009-04-05,1,Insurance,"Ballarat, Victoria, Australia"
96,IFR196,EKR Group,GRP500,Ventura Ltd,2005-04-19,3,Bars & Restaurants,"Benalla, Victoria, Australia"
97,IFR197,MSC,GRP502,Rite Ltd,2013-05-03,2,Printing & Publishing,"Port Macquarie, New South Wales, Australia"
98,IFR198,Dong Corp,GRP511,Physicians Ltd,2007-08-27,1,Insurance,"Shepparton, Victoria, Australia"
99,IFR199,Mechanical Group,GRP514,Hikma,2011-10-18,1,Computer Software,"Townsville, Queensland, Australia"

In [9]:
#tìm missing của bảng customer
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               100 non-null    object
 1   Customer Name             100 non-null    object
 2   Group ID                  100 non-null    object
 3   Group Name                100 non-null    object
 4   Relationship Established  100 non-null    datetime64[ns]
 5   Customer Rating           100 non-null    int64
 6   Industry                  100 non-null    object
 7   Address                   100 non-null    object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 6.4+ KB

=> DataFrame không có missing

In [10]:
#Sử dụng hàm describe() để có các thống kê cơ bản về dữ liệu:
df_customer.describe()

       Customer Rating
count       100.000000
mean          2.500000
std           0.958745
min           1.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000

In [11]:
#xóa cột không cần thiết trong bảng customer (Address)
columns = ['Address']
df_customer.drop(columns, inplace =True, axis=1)

In [12]:
#xuất ra bảng customer csv
df_customer.to_csv("D:\\mindxdata\\customer1.csv")

**XỬ LÍ BẢNG PRODUCT**

In [13]:
#đọc bảng product
df_product = pd.read_excel('D:\\mindxdata\\banking application\product-banking.xlsx')
df_product

,Product Group ID,Product Name,Type,Currency,Current Ref. Rate,Fixed or Floating,Payment Profile
0,PRD001,Interest Only,Business Lending,AUD,2.78,Fixed,3
1,PRD002,Business Overdraft,Overdraft,AUD,3.46,Floating,2
2,PRD003,Fixed Term Loan,Business Lending,AUD,2.98,Fixed,1
3,PRD004,Wholesale Term Loan,Business Lending,AUD,2.56,Fixed,1
4,PRD005,Personal Home Loans,Personal Lending,AUD,3.28,Fixed,2
5,PRD006,Finance Lease,Alternative Lending,AUD,2.64,Fixed,1
6,PRD007,Hire Purchase,Alternative Lending,AUD,2.54,Fixed,1
7,PRD008,Gold Master Credit Card,Credit Cards,AUD,3.60,Fixed,1
8,PRD009,Dealing Limits,Alternative Lending,AUD,3.57,Fixed,2
9,PRD010,Gold Visa Credit Card,Credit Cards,AUD,3.39,Fixed,1
10,PRD011,Trade Finance Currency,Trade Finance,AUD,2.67,Fixed,2
11,PRD012,Bank Guarantee,Alternative Lending,AUD,3.35,Fixed,1
12,PRD013,Letter of Credit,Trade Finance,AUD,3.07,Fixed,2
13,PRD014,Home Loans for Multi Purpose,Personal Lending,AUD,3.20,Fixed,2
14,PRD015,Home Equity Loans,Personal Lending,AUD,2.85,Fixed,3
15,PRD016,Multi Option Credit Line,Credit Cards,AUD,3.12,Fixed,1
16,PRD017,Visa Credit Card,Credit Cards,AUD,3.09,Floating,2
17,PRD018,Business Line of credit,Alternative Lending,AUD,3.09,Fixed,3
18,PRD019,Personal Overdraft,Alternative Lending,AUD,3.55,Fixed,2
19,PRD020,Master Credit Card,Credit Cards,AUD,3.62,Floating,1

In [14]:
#tìm missing của bảng product
df_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Product Group ID   20 non-null     object
 1   Product Name       20 non-null     object
 2   Type               20 non-null     object
 3   Currency           20 non-null     object
 4   Current Ref. Rate  20 non-null     float64
 5   Fixed or Floating  20 non-null     object
 6   Payment Profile    20 non-null     int64
dtypes: float64(1), int64(1), object(5)
memory usage: 1.2+ KB

=> DataFrame không có missing

In [15]:
#Sử dụng hàm describe() để có các thống kê cơ bản về dữ liệu:
df_product.describe()

       Current Ref. Rate  Payment Profile
count          20.000000        20.000000
mean            3.120500         1.700000
std             0.358101         0.732695
min             2.540000         1.000000
25%             2.832500         1.000000
50%             3.105000         2.000000
75%             3.407500         2.000000
max             3.620000         3.000000

In [16]:
#xóa cột không cần thiết trong bảng product (Currency,Fixed or Floating,Payment Profile)  
columns = ['Currency','Payment Profile','Fixed or Floating']
df_product.drop(columns, inplace =True, axis=1)

In [43]:
#minitest để hiểu thêm về 25%,50%,75% trong describe()
xx = df_product.sort_values('Current Ref. Rate', ascending=True).reset_index(drop=1).drop(range(5,19))
xx.describe()

       Current Ref. Rate
count           6.000000
mean            2.801667
std             0.409996
min             2.540000
25%             2.580000
50%             2.655000
75%             2.752500
max             3.620000

In [44]:
xx

,Product Group ID,Product Name,Type,Current Ref. Rate
0,PRD007,Hire Purchase,Alternative Lending,2.54
1,PRD004,Wholesale Term Loan,Business Lending,2.56
2,PRD006,Finance Lease,Alternative Lending,2.64
3,PRD011,Trade Finance Currency,Trade Finance,2.67
4,PRD001,Interest Only,Business Lending,2.78
19,PRD020,Master Credit Card,Credit Cards,3.62

In [17]:
#xuất ra file csv để truy vấn dữ liệu SQL
df_product.to_csv("D:\\mindxdata\\product1.csv")

**XỬ LÍ BẢNG DETAILS BANKING**

In [18]:
#đọc file details-banking
df_details = pd.read_excel('D:\\mindxdata\\banking application\details-banking.xlsx')
df_details

,Relationship Manager ID,Relationship Manager,Bank Name,Branch Region,Branch Name
0,RM2000,Victor Ramos,Bank 1,Western Australia,Albany
1,RM2001,Mark Montgomery,Bank 1,Western Australia,Bunbury
2,RM2002,Dennis Morris,Bank 1,New South Wales,Broken Hill
3,RM2003,Gregory Simmons,Bank 1,Victoria,Benalla
4,RM2004,Jeremy Vasquez,Bank 1,Northern Territory,Darwin
5,RM2005,Anthony Simpson,Bank 1,Western Australia,Albany
6,RM2006,Ernest Rivera,Bank 1,Western Australia,Albany
7,RM2007,Victor Martinez,Bank 1,New South Wales,Albury
8,RM2008,Bobby Burton,Bank 1,Queensland,Bundaberg
9,RM2009,Bruce Porter,Bank 1,South Australia,Murray Bridge
10,RM2010,Nicholas Simmons,Bank 1,Queensland,Gladstone
11,RM2011,Bruce Butler,Bank 1,New South Wales,Cessnock
12,RM2012,Raymond Alexander,Bank 1,New South Wales,Coffs Harbour
13,RM2013,Jason Duncan,Bank 1,New South Wales,Lake Macquarie
14,RM2014,Phillip Peters,Bank 1,New South Wales,Albury
15,RM2015,James Castillo,Bank 1,Victoria,Swan Hill
16,RM2016,Benjamin Kim,Bank 1,Western Australia,Broome
17,RM2017,Shawn Long,Bank 1,New South Wales,Lismore
18,RM2018,Steve Diaz,Bank 1,South Australia,Gladstone
19,RM2019,Paul Larson,Bank 1,Queensland,Toowoomba
20,RM2020,Joe Hanson,Bank 1,Tasmania,Devonport
21,RM2021,Dennis Ruiz,Bank 1,New South Wales,Queanbeyan
22,RM2022,Adam Hernandez,Bank 1,New South Wales,Orange
23,RM2023,Keith Griffin,Bank 1,Queensland,Redcliffe
24,RM2024,Jerry Green,Bank 1,Victoria,Geelong
25,RM2025,Chris Armstrong,Bank 1,Queensland,Hervey Bay
26,RM2026,Stephen Payne,Bank 1,Queensland,Mackay
27,RM2027,Joshua Bennett,Bank 1,Queensland,Gladstone
28,RM2028,Shawn Cook,Bank 1,Queensland,Gympie
29,RM2029,George Lewis,Bank 1,New South Wales,Grafton
30,RM2030,Joshua Ryan,Bank 1,New South Wales,Cessnock
31,RM2031,Jonathan Hawkins,Bank 1,Tasmania,Devonport
32,RM2032,Joshua Little,Bank 1,Northern Territory,Darwin
33,RM2033,Carl Nguyen,Bank 1,New South Wales,Gosford
34,RM2034,Todd Roberts,Bank 1,Queensland,Nambour
35,RM2035,Paul Holmes,Bank 1,Queensland,Sunshine Coast
36,RM2036,Roger Alexander,Bank 1,South Australia,Port Lincoln
37,RM2037,Anthony Berry,Bank 1,Victoria,Shepparton
38,RM2038,Frank Brown,Bank 1,New South Wales,Griffith
39,RM2039,Shawn Wallace,Bank 1,Queensland,Cairns
40,RM2040,Nicholas Cunningham,Bank 1,New South Wales,Tamworth

In [19]:
#tìm missing của bảng product
df_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Relationship Manager ID  41 non-null     object
 1   Relationship Manager     41 non-null     object
 2   Bank Name                41 non-null     object
 3   Branch Region            41 non-null     object
 4   Branch Name              41 non-null     object
dtypes: object(5)
memory usage: 1.7+ KB

=> DataFrame không có missing

In [20]:
df_details.describe()

,Relationship Manager ID,Relationship Manager,Bank Name,Branch Region,Branch Name
count,41,41,41,41,41
unique,41,41,1,7,33
top,RM2000,Victor Ramos,Bank 1,New South Wales,Albany
freq,1,1,41,14,3

In [21]:
#xóa cột không cần thiết trong bảng details (Bank Name)
columns = ['Bank Name']
df_details.drop(columns, inplace =True, axis=1)

In [22]:
#xuất ra file csv để truy vấn dữ liệu SQL
df_details.to_csv("D:\\mindxdata\\bankdetails.csv")